/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Container */
.container {
    width: 80%;
    max-width: 1024px;
    margin: auto;
    text-align: center;    
}

.img-container.hide {
    display: none;
}
.img-container img{
    border-radius: 20px;
    
}

#view-button {
    margin: 20px 0;
    padding: 15px 20px;
    border-radius: 20px;
    border: 0;
    background-color: cadetblue;
    cursor: pointer;
}