/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: auto;
    text-align: center;    
}

.img-container img{
    border-radius: 20px;
}

